.listPrice {
  color: #727273;
  margin-bottom: .25rem;
  font-size: 1rem;
}

.listPrice{
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;
}
.sellingPrice {
  color: black;
  font-size: 1.25rem;
  font-family: 'PT Sans', sans-serif;

}

.sellingPriceValue {
  font-size: 1rem;
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79B03A;
}

.sellingPriceValue--summary {
  font-size: 0.75rem;
  font-weight: 600;
  color: #2E2E2E;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  align-self: center;
  margin-bottom: 0rem;
  font-size: .75rem;
  font-family: 'PT Sans', sans-serif;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.installments--summary{
  display: none;
}

.savings--summary {
  position: absolute;
  top: 0;
  right: 4%;
  background-image: url(https://www.sallybeauty.cl//arquivos/Brush-dscto.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: .9rem;
  color: #fff;
  width: 59px;
  height: 40px;
  padding-top: 10px;
  font-family: 'Share Tech',sans-serif;
  text-align: center;
  z-index: 10;
}
.savingsPercentage--summary{
  position: relative;
  top: 5px;
}